.header {
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    display: fixed;
}
.header img{
    width: 200px;
}
.menu-container{
    padding:25px;
    margin-left: 315px;
}
.menu-container a{
    padding: 10px 20px;
    color:black;
    font-weight: bold;
    text-decoration: ;
    font-size: 16px;
}
.menu-container button{
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    padding: 10px 25px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
}
.menu-container button:hover{
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}
img.profile-avator {
    width: 69px;
    border-radius: 50%;
}