.login{
    text-align: center;
}
.google-login-btn{
    width: 450px;
    height: 51px;
    border-radius:30px;
    margin-bottom: 10px;
    margin-top: 0px;
    color:white;
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    border:none;
    transition: 0.5s;
}
.google-login-btn:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}
.login-form{
    width:570px;
    height: 420px;
    border: 2px solid #4776E6;
    text-align: center;
    display: inline-block;
    margin-top: 54px;
}
.login-form input{
    width: 400px;
    height: 32px;
    padding: 5px;
    border: none;
    border-bottom-style: solid;
}
.login-form input:last-child{
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    border-bottom-style: none;
    color: white;
    cursor: pointer;
}


    /* border: none;
    color: green;
    background: white;
    font-size: 17px;
} */

.from-create-btn{
    border: none;
    color: green;
    background: white;
    font-size: 17px;
    cursor: pointer;
}
.from-create-btn:hover{
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
    color:white;
}